*, *:before, *:after {
  box-sizing: border-box;
}
html, body {
    height:100%;
  }

body {
  margin-top: 0;
  font-family: 'Lato Black', Arial, sans-serif;
  font-size: 18px;
  color: #ffffff;
  margin: 0;
  background-color: #e12500;
}

/* NAV */
nav {
  background-color: #e12500;
  vertical-align: top;
  text-align: center;
  margin: 0 auto;
  width: 100vw;
  position: fixed !important;
  z-index: 1;
  display: block;
  top: 0;
  border: 0;
  padding: 1.25em 0 1em;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
@media only screen and (max-width: 450px) {
  nav {
    padding-left: 0;
    padding-bottom: .5em;
    padding-top: .5em;
  }
}
@media only screen and (max-width: 450px) {
  nav {
    padding-bottom: .25em;
  }
}
ul.navmenu {
  vertical-align: top;
  padding-left: 0;
  margin: .75em auto 0;
  text-align: center;
}

a.navlink-black {
  display: inline;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 1em;
}
@media only screen and (max-width: 480px) {
ul.navmenu {
display: none;
  }
}
@media only screen and (max-width: 380px) {
ul.navmenu {


  }
}
.navitem-black  {
  padding: 0;
  display: inline;
  text-decoration: none;
  color: #000000;
  font-size: 1em;
  margin-right: 1em;
}
@media only screen and (max-width: 580px) {
  .navitem-black {
    margin-right: .5em;
    padding-bottom: .5em;
    font-size: .85em;
  }
}
@media only screen and (max-width: 380px) {
  .navitem-black {
    margin-right: .25em;
    font-size: .7em;
  }
}
.navitem  {
  padding: 0;
  display: inline;
  text-decoration: none;
  color: #4a4a4a;
  font-size: 1em;
  margin-right: 1em;
}
@media only screen and (max-width: 580px) {
  .navitem {
    margin-right: .5em;
    padding-bottom: .5em;
    font-size: .85em;
  }
}
@media only screen and (max-width: 380px) {
  .navitem {
    margin-right: .25em;
    padding-bottom: .5em;
    font-size: .7em;
  }
}
.hamburger  {
  display: none;
}
@media only screen and (max-width: 480px) {
  .hamburger {
    float: right;
    margin-right: 1.125em;
    display: inline;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
  }
}
a.navlink {
  display: inline;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 1em;
}
a.navlink:hover  {
  font-weight: 900;
  border-bottom: 2px solid #000000;
}

/* HOME PAGE */
.main-container  {
  margin: 5em auto 0;
  position: relative;
}
@media screen and (max-width: 768px) {
.main-container {
  padding-top: 1em;
}
 }
@media screen and (max-width: 480px) {
.main-container {
  margin-top: 3em;
  padding-top: .75em;
  }
}
@media screen and (max-width: 380px) {
.main-container {
  margin-bottom: 0;
  }
}
.title  {
  margin: 0 auto;
  width: 40%;
}

@media screen and (max-width: 1024px) {
 .title {
   width: 50%;
   }
 }
 @media screen and (max-width: 768px) {
.title {
  width: 60%;
    }
  }
 @media screen and (max-width: 520px) {
    .title {
      width: 80%;
    }
  }
  .sub-title  {
    font-family: 'Lato Black', Arial, sans-serif;
    color: #000000;
    font-weight: bold;
    font-size: 1.75em;
    line-height: 1.5em;
    text-align: center;
    margin: 4em auto 1em;
    width: 60%;
  }
  @media screen and (max-width: 768px) {
   .sub-title {
     width: 80%;
     font-size: 1.5em;
     line-height: 1.25em;
     margin: 0 auto 2em;
     font-size: 1.5em;
     line-height: 1.25em;
     }
   }
   @media screen and (max-width: 480px) {
    .sub-title {
      width: 85%;
      font-size: 1.5em;
      line-height: 1.25em;
      margin: 0 auto 1em;
      font-size: 1em;
      line-height: 1.5em;
      }
    }

  .white  {
    color: #ffffff;

  }
  .trailer-pic {
    margin: 0 auto;
    padding-top: 7%;
    width: 80%;

  }

   @media screen and (max-width: 768px) {
  .trailer-pic {
    width: 85%;
      }
    }
   @media screen and (max-width: 520px) {
      .trailer-pic {
        width: 95%;
      }
    }
.faces {
      padding-top: 0;
      width: 100%;
      min-height: 60em;
      background: url(../images/faces-pic.png) no-repeat bottom center;
      background-size: contain;
      background-repeat: no-repeat;
      padding: 0;
      vertical-align: bottom;
      margin-bottom: -1em;
      margin-top: -23em;
    }

@media screen and (max-width: 1024px) {
.faces {
  padding-top: 0;
  width: 100%;
  min-height: 60em;
  background: url(../images/faces-pic.png) no-repeat bottom center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  vertical-align: bottom;
  margin-bottom: -1em;
  margin-top: -40em;
       }
     }
@media screen and (max-width: 768px) {
.faces {
margin-top: -45em;
}
}
@media screen and (max-width: 520px) {
.faces {
margin-top: -49em;
}
}

img {
     width: auto;
     max-width: 100%;
     height: auto;
   }

.head2  {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 3.75em;
    font-weight: 100;
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: .5em;
    color: #000000;
  }
  @media screen and (max-width: 1024px) {
  .head2 {
    font-size: 2.75em;
    padding-top: .75em;
    padding-bottom: .125em;
    }
 }
  @media screen and (max-width: 768px) {
  .head2 {
    font-size: 2.75em;
    padding-bottom: .125em;
    }
 }
.head3  {
      font-family: 'PT Sans Narrow', sans-serif;
      font-size: 2em;
      font-weight: 100;
      text-align: center;
      padding-top: 1.5em;
      padding-bottom: .25em;
      color: #000000;
    }
@media screen and (max-width: 768px) {
.head3 {
      font-size: 2em;
      padding-top: .5em;
      padding-bottom: 0;

}
}
.story  {
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 400;
  width: 55%;
  font-family: 'Lato Light', Arial, sans-serif;
  margin: 0 auto;
  display: block;
  padding-bottom: 1.5em;
}
@media screen and (max-width: 1024px) {
.story {
      width: 70%;
}
}
@media screen and (max-width: 768px) {
.story {
      font-size: 1em;
      padding-top: .5em;
      line-height: 1.5em;
      width: 85%;
}
}
.cast {
  font-size: 1.25em;
  width: 60%;
  text-align: center;
  line-height: 1.75em;
  margin: 0 auto;
  font-family: 'Lato Light', Arial, sans-serif;

}
@media screen and (max-width: 768px) {
.cast {
      font-size: 1em;
      padding-top: .125em;
      line-height: 1.5em;
      width: 85%;

}
}
.bold {
  font-family: 'Lato Black', Arial, sans-serif;
}


  /* FOOTER */
  footer.footer-main  {
    margin: 0 auto;
    background-color: #000000;
    display: inline-block;
    width: 100%;
    position: relative;
    bottom: -.5em;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .rating {
    width: 20%;
    margin: 0 auto;
  }
  @media screen and (max-width: 768px) {
  .rating {
    width: 30%;
  }
  }
  @media screen and (max-width: 480px) {
  .rating {
    width: 50%;
  }
  }
  .footer-text1 {
    color: #d2d2d2;
    display: inline;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    font-size: 1em;
    line-height: 1em;
  }
  @media screen and (max-width: 1024px) {
  .footer-text1 {
    padding-left: .5em;
    padding-right: .6em;
    line-height: 2em;
  }
  }
  @media screen and (max-width: 768px) {
  .footer-text1 {
    padding-left: .5em;
    padding-right: .6em;
    font-size: .85em;
    line-height: 2em;
  }
  }
  @media screen and (max-width: 480px) {
  .footer-text1 {
    padding-left: .5em;
    padding-right: .6em;
    font-size: .75em;
    line-height: 1em;
  }
  }

  .footer-text2 {
    color: #d2d2d2;
    display: inline;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    font-size: .75em;
    text-align: center;
  }
  @media screen and (max-width: 768px) {
  .footer-text2 {
    padding-left: .5em;
    padding-right: .6em;
    font-size: .6em;
    line-height: 1.5em;
    display: block;
    text-align: center;
    padding-top: 0;
  }
  }
  .footer-text3 {
    color: #d2d2d2;
    display: block;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    font-size: .75em;
    text-align: center;
    font-family: 'Lato Light', Arial, sans-serif;
  }
  @media screen and (max-width: 768px) {
  .footer-text3 {
    font-size: .6em;
    line-height: 1.5em;
    display: block;
    text-align: center;
  }
  }
  ul.footer-info  {
text-align: center;
    margin: 2em auto;
    list-style-type: none;
    color: #d2d2d2;
    padding-left: 2em;
    padding-right: 2em;
  }
  @media screen and (max-width: 768px) {
    ul.footer-info {
      margin: 1em auto .75em;
      text-align: center;
      }
    }

  p.footer-text  {
   font-size: .88em;
   margin-top: 1.6em;
   margin-left: 1em;
text-align: center;
color: #d2d2d2;

}
.footer-link {
  color: #d2d2d2;
  text-decoration: none;
}
 @media screen and (max-width: 768px) {
   p.footer-text  {
    font-size: .75em;
    float: none;
    text-align: center;
    margin: 1em auto .5em;
    }
  }
